<connectionStrings>
	<add name="BowlingLegendsContext" connectionString="data source=tcp:archived-applications.database.windows.net;initial catalog=BowlingLegends;Persist Security Info=True;User ID=BowlingLegendUser;Password=NormanTheWinner02;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
</connectionStrings>